:root{
   --bg-color:#1e1c1c;
   --shadows-color:#212121;
   --line-btns:#ff4545;
   --font-color:#ffffff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width:100%;
  margin:0;
  padding:0;
  background-color:var(--bg-color);
  color: var(--font-color);
  font-family: "Oswald", sans-serif;
}

header{
  width: 100%;
  display: flex;
  justify-content: space-between; 
  padding: 1em 2em;
  position: relative;
}

header:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  border-bottom: .1em solid var(--line-btns);
  animation: border_anim 2s linear forwards;
}
@keyframes border_anim {
  0%{
     width: 0%;
  }
  100%{
     width: 100%;
  }
}

header .logo a{
  color: var(--font-color);
  text-decoration: none;
  font-size: 1.4em;
}
header nav {
   overflow: auto;
}
header nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: .1em;
}

header nav ul li{
  margin-left: 4em;
}

header nav ul li a{
  color: var(--font-color);
  text-decoration: none;
  font-size: 1.2em;
}
@media screen and (max-width: 600px) {
   header nav ul{
     flex-direction: column;
     display: block;
   }
 }

 footer{
   text-align: center;
   font-size: 1.2em;
   padding: 2.5em 0;
}
footer a { 
   color: var(--font-color);
   text-decoration: none;
}
.footer__link {
   font-weight: 400;
}
.footer__link:hover,
.social-list__link:hover {
   opacity: .7;
}
.footer__link:hover {
   text-decoration: underline;
}
.social-list {
   list-style: none;
   display: flex;
   justify-content: center;
   padding: 2em;
}
.social-list__item {
   margin: .5em;
}
.social-list__link { 
   padding: .5em;
}
svg{
   fill:var(--font-color);
}