:root{
   --bg-color:#1e1c1c;
   --shadows-color:#212121;
   --line-btns:#ff4545;
   --font-color:#ffffff;
  /* --step-1: clamp(1.35rem, 1.2048rem + 0.7261vw, 1.7675rem);
   --step-2: clamp(1.62rem, 1.3142rem + 1.5291vw, 2.4992rem);
   --step-3: clamp(1.944rem, 1.391rem + 2.7651vw, 3.5339rem);
   --step-4: clamp(2.3328rem, 1.4061rem + 4.6334vw, 4.997rem);
    --step-5: clamp(2.7994rem, 1.3154rem + 7.4198vw, 7.0657rem);*/
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
   scroll-behavior: smooth;
   scroll-padding-top: 65px;
   font-size: 62.5%;
}
body {
  width:100%;
  margin:0;
  padding:0;
  background-color:var(--bg-color);
  color: var(--font-color);
  font-family: 'Roboto Mono', monospace,sans-serif; 
  line-height: 1.6em;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}

header{
  width: 100%;
  position: relative;
}

header:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  border-bottom: .1em solid var(--line-btns);
  animation: border_anim 2s linear forwards;
}
@keyframes border_anim {
  0%{
     width: 0%;
  }
  100%{
     width: 100%;
  }
}


.logo a{
   color: var(--font-color);
   text-decoration: none;
   font-size: 2em;
}
header nav {
   display: flex;
   justify-content: space-between; 
   padding: 1em 2em;
   overflow: auto;
   padding: 3em;
}
header nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: .1em;
}

header nav ul li{
  margin-left: 4em;
}

header nav ul li a{
  color: var(--font-color);
  text-decoration: none;
  font-size: 1.8em;
}
 section{
   padding-block: 4em;
 }
 #home{
   width: 85%;
   margin: 0 auto;  
   font-size: 2em;
}
.text{
   line-height: 3em;   
}
.text h1{
   font-size: 3.2em;
   margin-block: .5em;
}
.w-spaces{
   word-spacing: 2.6em;
}
.btns{
   margin-top: 2em;
   display: flex;
   gap: 4em;
}
.cv, .hire_me{
   width: 6em;
   padding: .6em;
   font-size: 1em;
   border-radius: 2em;
}
#about{
   width: 100%;
   margin-top: 6.2em;
   font-size: var(--step-1);
}
.my_story{
   width: 85%;
   margin: 0 auto;
   font-size: 1.6em;
}
.my_story h2{
   font-size: 2.5em;
}
.my_story p{
   font-size: 1em;
   line-height: 4rem;
}
.biography{
  display: flex;
  flex-direction: column;
  gap: 2em; 
}
.tech-badges{
  overflow: hidden;
  display: flex;
  gap: 2em;
}
.badges{
   display: flex;
   gap: 2em;
   animation: track 40s linear infinite ;
}
@keyframes track {
   from {
      transform: translateX(0);
   }

  to {
      transform: translateX(-100%);
   }
 }
.in-tech{
   display: flex;
   padding-block: 2em;
   gap: 2em;
   align-content: space-evenly; 
}
.wrapproject{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 1rem;
}
#projects{
   width: 85%;
   margin: 0 auto;
   font-size: 1.6em;
}
.project-item{
  color:var(--font-color);
  height: 250px; 
  margin-top: 2em;
}
 footer{
   text-align: center;
   font-size: 1.6em;
   padding: 2.5em 0;
}
footer a { 
   color: var(--font-color);
   text-decoration: none;
}
.footer__link {
   font-weight: 400;
}
.footer__link:hover,
.social-list__link:hover {
   opacity: .7;
}
.footer__link:hover {
   text-decoration: underline;
}
.social-list {
   list-style: none;
   display: flex;
   justify-content: center;
   padding: 2em;
   font-size: 1.4em;
}
.social-list__item {
   margin: .5em;
}
.social-list__link { 
   padding: .5em;
}
.copyr{
   margin-left: 1.4em;
}
svg{
   fill:var(--font-color);
}
